Learn X in Y minutes where X=R:  
<https://learnxinyminutes.com/docs/r/>

- Assign values to variables with `<-`.

- Booleans are TRUE, FALSE

In [6]:
l <- c('zebra',"giraffe")
l

[1] "zebra"   "giraffe"

In [4]:
b <- c(TRUE, FALSE)
b

[1]  TRUE FALSE

In [4]:
# Access and manipulate datasets
data()
data(rivers)
ls()
head(rivers)
length(rivers)
summary(rivers)
stem(rivers)

[1] "rivers"

[1] 735 320 325 392 524 450

[1] 141

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  135.0   310.0   425.0   591.2   680.0  3710.0

  The decimal point is 2 digit(s) to the right of the |

   0 | 4
   2 | 011223334555566667778888899900001111223333344455555666688888999
   4 | 111222333445566779001233344567
   6 | 000112233578012234468
   8 | 045790018
  10 | 04507
  12 | 1471
  14 | 56
  16 | 7
  18 | 9
  20 |
  22 | 25
  24 | 3
  26 |
  28 |
  30 |
  32 |
  34 |
  36 | 1